<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black</string>
		<string>Roboto-Bold</string>
		<string>Roboto-Light</string>
		<string>Roboto-Medium</string>
		<string>Roboto-Regular</string>
		<string>Roboto-Thin</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb574091774804820</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>574091774804820</string>
	<key>FacebookDisplayName</key>
	<string>TravelPro</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
