<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875898998064-jc9i4a11v2eecmvs59e386ercdet34it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875898998064-jc9i4a11v2eecmvs59e386ercdet34it</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ524vKxeKkRvhFXc-Vdef1f4KW7_E72M</string>
	<key>GCM_SENDER_ID</key>
	<string>875898998064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obs.travelpro</string>
	<key>PROJECT_ID</key>
	<string>travel-tax-day</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-tax-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875898998064:ios:e7bff554d8a68a65810cf5</string>
</dict>
</plist>